<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <div class="tag-section1">
    <form method="post" action="/posts" >
      <h2 class="heading" >Enter the username </h2>
        <input type="text" name ="username" placeholder="Enter the name">
      <h2 class="heading" >Enter the content</h2>
   <textarea name="content" rows="10" coloumn="35" ></textarea>
     <button class="btn"> submit</button>
     </form>



   </div>
    
    
</body>
</html>